/* Define the keyframes for the width animation */
@keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
  /* 100% {
    width: 0%;
  } */
}

/* Apply the animation to the images */
.discoverImage {
  /* width: 0%; */
  transform-origin: left;

  animation: expandWidth linear forwards;
  animation-timeline: scroll(root block); /* Use the root scroll container */
  animation-range: entry 0% contain 20%; /* Start when the image enters the viewport, end when it's fully visible */
}

.maskImage {
  -webkit-mask-image: radial-gradient(circle, black -100%, transparent 100%);
  mask-image: radial-gradient(circle, black -100%, transparent 100%);

  -webkit-mask-size: cover;
  mask-size: cover;
}

/* .maskImage {
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: cover;
  mask-size: cover;
} */
